
<% include partials/head %>

  <div id="page-wrapper" class="container">

    <div class='col-sm-8 col-sm-offset-2'>

      <% include partials/header %>

      <%- link_to('Add a quote', '/quotes/new') %> <br><br>

      <% include partials/quote-list %>

      <% include partials/footer %>

    </div>

  </div>

<% include partials/foot %>











